.cart-wrapper{
    width: 100%;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 0 40px;
    h1{
        padding: 0 50px;
    }
}

.item-in-cart{
    margin: 0 auto;
    width: 90%;
    margin-top: 1.4rem;
}

.title{
    font-weight: bold;
}
.title:nth-child(even){
    color: #b3b3b3;
}

.remove-item,
.item-name,
.item-price,
.item-count,
.subtotal{
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 1rem;
}

.remove-item{
    background-color: #f03535;
    justify-content: center;
}

.item-count{
    height: 50px;
}

.counter-wrap{
    padding: 0;
    width: 100px;
    height: 80%;
    display: flex;

    span{
        width: 33.333%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}