.products-wrapper{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;

    background-color: #fafafa;
    box-sizing: border-box;
    padding: 15px 15px 10px 15px;

    overflow: hidden;
}


@media screen and (min-width: 768px){
    .products-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }
}